[Unit]
Description=Vajra Fleet Server service.

[Service]
Type=simple
ExecStart=/bin/bash /home/sablearjun/vajra-fleet/cmake-build-debug/fleet.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
