[Unit]
Description=Vajra Rule Engine service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/rule_kafka.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
